# This file is used to set environment variables for different Flask environments.
# Each section corresponds to a different environment.


#FLASK_ENV=testing
#DATABASE_URL=sqlite:///:memory:
#USERS_SERVICE_URL=None
#INTERNAL_REQUEST_SECRET=testging-interal-secret
#JWT_SECRET=testging-jwt_secret

#FLASK_ENV=development
#DATABASE_URL=sqlite:///dev.db
#USERS_SERVICE_URL=None
#INTERNAL_REQUEST_SECRET=develop-interal-secret
#JWT_SECRET=develop-jwt_secret

#FLASK_ENV=staging
#DATABASE_URL=postgresql://auth:password@auth_db/auth_staging
#USERS_SERVICE_URL=http://users_service:5000
#INTERNAL_REQUEST_SECRET=staging-interal-secret
#JWT_SECRET=staging-jwt_secret

#FLASK_ENV=production
#DATABASE_URL=postgresql://user:pass@template_db/template_prod
#USERS_SERVICE_URL=http://users_service:5000
#INTERNAL_REQUEST_SECRET=production-interal-secret
#JWT_SECRET=production-jwt_secret


