# This file is used to set environment variables for different Flask environments.
# Each section corresponds to a different environment.


#FLASK_ENV=testing
#LOG_LEVEL=DEBUG
#DATABASE_URL=sqlite:///:memory:
#USER_SERVICE_URL=None
#INTERNAL_AUTH_TOKEN=testging-interal-secret
#JWT_SECRET=testging-jwt_secret

#FLASK_ENV=development
#LOG_LEVEL=DEBUG
#DATABASE_URL=sqlite:///dev.db
#USER_SERVICE_URL=None
#INTERNAL_AUTH_TOKEN=develop-interal-secret
#JWT_SECRET=develop-jwt_secret

#FLASK_ENV=staging
#LOG_LEVEL=DEBUG
#DATABASE_URL=postgresql://staging:password@db_service/auth_staging
#USER_SERVICE_URL=http://users_service:5000
#INTERNAL_AUTH_TOKEN=staging-interal-secret
#JWT_SECRET=staging-jwt_secret

#FLASK_ENV=production
#DATABASE_URL=postgresql://user:pass@template_db/template_prod
#USER_SERVICE_URL=http://users_service:5000
#INTERNAL_AUTH_TOKEN=production-interal-secret
#JWT_SECRET=production-jwt_secret


